<div id="info">
  <div id="contact">
    <h1>About Us</h1>
    <p><b>Address:</b> Random Street No 3, Random District, Random City</p>
    <p><b>Phone:</b> 123456789</p>
    <p><b>Email:</b> picasso@randomEmail.com</p>
    <div id="social">
      <img [src]="facebookImgPath" alt="facebook">
      <img [src]="instagramImgPath" alt="instagram">
      <img [src]="twitterImgPath" alt="twitter">
    </div>
  </div>
  <div id="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11565.814381837683!2d-87.96562311201384!3d43.55543061599442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8804916905039f25%3A0xeeacb8b8509b0289!2sRandom%20Lake%2C%20WI%2053075%2C%20USA!5e0!3m2!1sen!2srs!4v1648983089096!5m2!1sen!2srs"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
